<%- include("header"); -%>
<h1><%= dayOfTheWeek %></h1>
<hr>
<div>
<% postArray.reverse().forEach(function(post){ %>
    <h2><%= post.date %></h2>
    <p> 
        <ol>
            <li> <%= post.s1 %> </li>
            <li> <%= post.s2 %> </li>
            <li> <%= post.s3 %> </li>
        </ol>
    </p>
<% }) %>
</div>
<%- include("footer"); -%>